
.DayPicker{
  background-color: white !important;
}

.DayPickerNavigation_button__horizontal svg {
  fill: black !important;
  stroke: black !important;
}

.CalendarDay {
  cursor: pointer;
}
.CalendarDay__defaultCursor {
  cursor: default;
}
.CalendarDay__default {
  background: white !important;
  color: black !important;
  border-radius: 4px;
}
.CalendarDay__default:hover {
  background-color: #eee !important;
  color: black;
}

.CalendarMonth_caption,
.DayPicker_weekHeader,
.DayPickerNavigation_button {
  color: black !important;
}

.CalendarDay__blocked_calendar,
.CalendarDay__blocked_calendar:active,
.CalendarDay__blocked_calendar:hover {
  background: white !important;
  color: #ddd !important;
  /* cursor: not-allowed !important; */
}

.CalendarDay__blocked_out_of_range,
.CalendarDay__blocked_out_of_range:active,
.CalendarDay__blocked_out_of_range:hover {
  background: white !important;
  color: #ddd !important;
  /* cursor: not-allowed !important; */
}

.CalendarDay__selected .renderedDay {
  background-color: #0d6efd !important;
  color: white !important;
  border-radius: 8px !important;
}

.CalendarDay__selected_start .renderedDay {
  background-color: #0d6efd !important;
  color: white !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.CalendarDay__selected_end .renderedDay {
  background-color: #0d6efd !important;
  color: white !important;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.CalendarDay__selected_span .renderedDay {
  background-color: rgba(13,110,253,.25) !important;
  color: black !important;
  border-radius: 0 !important;
}